<h2 style="color:crimson">Ejercicios</h2>

Considerando que la relación dentro de la base de datos `nabla_python` tiene la siguiente estructura:

![relation](http://www.mysqltutorial.org/wp-content/uploads/2009/12/MySQL-Sample-Database-Schema.png)


1. Realiza una consulta a la base de datos `nabla_python` por medio de `pymysql`: encuentra los tipos de `status` existentes dentro de la tabla `orders`.

---

In [1]:
# Se importan las librerías necesarias para el e
import subprocess
import sys
import pymysql
from pymysql.cursors import DictCursor

In [2]:
# Se define la funsión de conexión a la base de datos que se utilizará para los ejercicios del 1 al 6.
def connectoion(host = "db4free.net", username = "nabla123" ,passw= "maquina271", dbname = "nabla_python", charset = "utf8", connport = 3306):
    """ Funsión connectoion()
    
    Parámetros:
            host: Cadena. Dedine el hostname del servidor de base de datos. Default: db4free.net.
            username: Cadena. Define en usuario para conexión de DB. Default "nabla123".
            passw: Cadena. Define contraseña para acceder a la base de datos. Defaul: maquina271.
            dbname: Cadena. Define la base de datos a conectar. Default "nabla_python".
            charset: Cadena. Define el charset que se usará para la base de datos. Default utf8.
            connport: Entero. Define el puerto de conexión a la base de datos. Default 3306.
            
    """
    conn = pymysql.connect(host=host,
                       user=username,
                       port=connport,
                       password=passw,
                       database=dbname,
                       charset=charset,
                       cursorclass=DictCursor)
    return conn

In [3]:
# Se utiliza la funsión connectoion() para definir la conexión a la base de datos
conn = connectoion()

# Se define el query de SQL 
query = "SELECT DISTINCT status FROM orders order by status;"

# Se llama a la conexión de la base de datos para ejecutar el query anterior y obtener los datos en una variable
with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchall()

# Se imprime el resultado del query
print('\nLos tipos de estatus existentes en la tabla orders son:\n')
for order in orders:
    print(" - ",order['status'])

# se cierra la conexión de la base de datos
conn.close()

Los tipos de estatus existentes en la tabla orders son:

 -  Cancelled
 -  Disputed
 -  In Process
 -  On Hold
 -  Resolved
 -  Shipped

---

2. Realiza una consulta a la base de datos `nabla_python` por medio de `pymysql`: encuentra los 10 clientes `customerName` que más han comprado en la tienda. La tabla resultante deberá estar ordenada de mayor a menor con `customerName` y `expenses` como la columna en dónde se encuentre el monto gastado en la tienda. (**hint**: considera las tablas `customers` y `payments`)
----

In [4]:
# Se utiliza la funsión connectoion() para definir la conexión a la base de datos
conn = connectoion()

# Se define el query de SQL 
query = """SELECT A.customerName, sum(B.amount) as expenses 
FROM customers A, payments B 
WHERE A.customerNumber = B.customerNumber 
group by A.customerNumber 
order by expenses DESC;"""

# Se llama a la conexión de la base de datos para ejecutar el query anterior y obtener los datos en una variable
with conn.cursor() as cursor:
    cursor.execute(query)
    expenses = cursor.fetchmany(10)

# Se imprime el resultado del query
print('\nLos 10 clientes que más han gastado en la tienda, de mayor a menor, son:\n\n  Customer Name                   Total Expenses')
for client in expenses:
    print(client['customerName'],' ' * (35 - len(client['customerName'])),client['expenses'])

# se cierra la conexión de la base de datos
conn.close()

Los 10 clientes que más han gastado en la tienda, de mayor a menor, son:

  Customer Name                   Total Expenses
Euro+ Shopping Channel               715738.98
Mini Gifts Distributors Ltd.         584188.24
Australian Collectors, Co.           180585.07
Muscle Machine Inc                   177913.95
Dragon Souveniers, Ltd.              156251.03
Down Under Souveniers, Inc           154622.08
AV Stores, Co.                       148410.09
Anna's Decorations, Ltd              137034.22
Corporate Gift Ideas Co.             132340.78
Saveley & Henriot, Co.               130305.35

----

3. Escribe una consulta que, para cada producto comprado muestre la clave del cliente `customerNumber` y el código del producto `productCode`. Obten los primeros 10 valores

---

In [5]:
# Se utiliza la funsión connectoion() para definir la conexión a la base de datos
conn = connectoion()

# Se define el query de SQL 
query = """SELECT DISTINCT A.customerNumber, B.productCode 
FROM orders A, orderdetails B 
WHERE A.orderNumber = B.orderNumber;"""

# Se llama a la conexión de la base de datos para ejecutar el query anterior y obtener los datos en una variable
with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(10)

# Se imprime el resultado del query
print('\n10 primeros productos comprados por cliente (número de cliente y clave de producto):\n\nClient Number   Product Code')
for OrderedProduct in orders:
    print('    ',OrderedProduct['customerNumber'],'      ', OrderedProduct['productCode'])

# se cierra la conexión de la base de datos
conn.close()

10 primeros productos comprados por cliente (número de cliente y clave de producto):

Client Number   Product Code
     103        S18_1589
     103        S18_2870
     103        S18_3685
     103        S24_1628
     103        S10_2016
     103        S18_2625
     103        S24_2022
     112        S18_1749
     112        S18_2248
     112        S18_2325

---

4. En base al ejercicio anterior, reemplaza `productCode` por `productName`. **HINT**: El comando `WITH` nos ayuda a crear una tabla temporal:

```SQL
WITH t1 as (
    SELECT ...
    )
SELECT t1.ci, t2.cj
FROM t2
JOIN t1 ON t1.cx = t2.cx
```

---

In [6]:
# Se utiliza la funsión connectoion() para definir la conexión a la base de datos
conn = connectoion()

# Se define el query de SQL 
query = """SELECT DISTINCT A.customerNumber,B.productCode ,C.productName 
FROM orders A, orderdetails B,  products C
WHERE A.orderNumber = B.orderNumber and B.productCode = C.productCode;"""

# Se llama a la conexión de la base de datos para ejecutar el query anterior y obtener los datos en una variable
with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(10)

# Se imprime el resultado del query
print('\n10 primeros productos comprados por cliente (número de cliente y nombre del producto):\n\nClient Number   Product Name')
for OrderedProduct in orders:
    print('   ',OrderedProduct['customerNumber'],'      ', OrderedProduct['productName'])

# se cierra la conexión de la base de datos
conn.close()

10 primeros productos comprados por cliente (número de cliente y nombre del producto):

Client Number   Product Name
    103        1965 Aston Martin DB5
    103        1999 Indy 500 Monte Carlo SS
    103        1948 Porsche Type 356 Roadster
    103        1966 Shelby Cobra 427 S/C
    103        1996 Moto Guzzi 1100i
    103        1936 Harley Davidson El Knucklehead
    103        1938 Cadillac V-16 Presidential Limousine
    112        1917 Grand Touring Sedan
    112        1911 Ford Town Car
    112        1932 Model A Ford J-Coupe

---

5. En base al ejercicio anterior, reemplaza `customerNumber` por `customerName`

----

In [7]:
# Se utiliza la funsión connectoion() para definir la conexión a la base de datos
conn = connectoion()

# Se define el query de SQL 
query = """SELECT DISTINCT D.customerName,B.productCode ,C.productName 
FROM orders A, orderdetails B,  products C, customers D
WHERE A.orderNumber = B.orderNumber and B.productCode = C.productCode 
and D.customerNumber = A.customerNumber;"""

# Se llama a la conexión de la base de datos para ejecutar el query anterior y obtener los datos en una variable
with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(10)

# Se imprime el resultado del query
print('\n10 primeros productos comprados por cliente (nombre del cliente y nombre del producto):\n\n  Client Name                Product Name')
for OrderedProduct in orders:
    print(OrderedProduct['customerName'],' ' * (25 - len(OrderedProduct['customerName'])), OrderedProduct['productName'])

# se cierra la conexión de la base de datos
conn.close()

10 primeros productos comprados por cliente (nombre del cliente y nombre del producto):

  Client Name                Product Name
Atelier graphique          1965 Aston Martin DB5
Atelier graphique          1999 Indy 500 Monte Carlo SS
Atelier graphique          1948 Porsche Type 356 Roadster
Atelier graphique          1966 Shelby Cobra 427 S/C
Atelier graphique          1996 Moto Guzzi 1100i
Atelier graphique          1936 Harley Davidson El Knucklehead
Atelier graphique          1938 Cadillac V-16 Presidential Limousine
Signal Gift Stores         1917 Grand Touring Sedan
Signal Gift Stores         1911 Ford Town Car
Signal Gift Stores         1932 Model A Ford J-Coupe

----

6. En base al ejercicio 3, encuentra el nombre del producto `productName` y cuantas unidades se han comprado de ese producto. Ordena los elementos de mayor a menor.

---

In [8]:
# Se utiliza la funsión connectoion() para definir la conexión a la base de datos
conn = connectoion()
# Se define el query de SQL 
query = """SELECT DISTINCT C.productName, sum(B.quantityOrdered) as BougthQuantity
FROM orders A, orderdetails B,  products C
WHERE A.orderNumber = B.orderNumber and B.productCode = C.productCode 
GROUP BY B.productCode
Order by BougthQuantity DESC;"""

# Se llama a la conexión de la base de datos para ejecutar el query anterior y obtener los datos en una variable
with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(10)

# Se imprime el resultado del query
print('\n10 Los diez productos más vendidos ordenado de mayor a menor:\n\n   Product Name                           Sold Units')
for OrderedProduct in orders:
    print(OrderedProduct['productName'],' ' * (42 - len(OrderedProduct['productName'])), OrderedProduct['BougthQuantity'])

# se cierra la conexión de la base de datos
conn.close()

10 Los diez productos más vendidos ordenado de mayor a menor:

   Product Name                           Sold Units
1992 Ferrari 360 Spider red                 1808
1937 Lincoln Berline                        1111
American Airlines: MD-11S                   1085
1941 Chevrolet Special Deluxe Cabriolet     1076
1930 Buick Marquette Phaeton                1074
1940s Ford truck                            1061
1969 Harley Davidson Ultimate Chopper       1057
1957 Chevy Pickup                           1056
1964 Mercedes Tour Bus                      1053
1956 Porsche 356A Coupe                     1052

---

7. Por medio de SQLAlchemy, define la tabla `orders` definida dentro de `nabla_python`

```
+----------------+-------------+------+-----+---------+-------+
| Field          | Type        | Null | Key | Default | Extra |
+----------------+-------------+------+-----+---------+-------+
| orderNumber    | int(11)     | NO   | PRI | NULL    |       |
| orderDate      | date        | NO   |     | NULL    |       |
| requiredDate   | date        | NO   |     | NULL    |       |
| shippedDate    | date        | YES  |     | NULL    |       |
| status         | varchar(15) | NO   |     | NULL    |       |
| comments       | text        | YES  |     | NULL    |       |
| customerNumber | int(11)     | NO   | MUL | NULL    |       |
+----------------+-------------+------+-----+---------+-------+
```

----

In [9]:
# Se importan las librerias necesarias para los ejercicios 7 al 9
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, DateTime, Float, SmallInteger
import sqlalchemy as sa

# Se declara la base de datos
Base = declarative_base()

# Se declara la clase correspondiente a la tabla orders
class Orders(Base):
    __tablename__ = "orders"
    orderNumber = Column(Integer,nullable=False, primary_key=True)
    orderDate = Column(DateTime(), nullable=False)
    requiredDate = Column(DateTime(), nullable=False)
    shippedDate = Column(DateTime(), nullable=True)
    status = Column(String(15), nullable=False)
    comments = Column(String(10), nullable=True)
    customerNumber = Column(Integer, nullable=False)

----

8. Por medio de SQLAlchemy, define la tabla `orderdetails` definida dentro de `nabla_python`

```
+-----------------+---------------+------+-----+---------+-------+
| Field           | Type          | Null | Key | Default | Extra |
+-----------------+---------------+------+-----+---------+-------+
| orderNumber     | int(11)       | NO   | PRI | NULL    |       |
| productCode     | varchar(15)   | NO   | PRI | NULL    |       |
| quantityOrdered | int(11)       | NO   |     | NULL    |       |
| priceEach       | decimal(10,2) | NO   |     | NULL    |       |
| orderLineNumber | smallint(6)   | NO   |     | NULL    |       |
+-----------------+---------------+------+-----+---------+-------+
```

---

In [10]:

# Se declara la clase correspondiente a la tabla orderdetails
class DetalleOrden(Base):
    __tablename__ = "orderdetails"
    orderNumber = Column(Integer,nullable=False, primary_key=True)
    productCode = Column(String(15),nullable=False, primary_key=True)
    quantityOrdered = Column(Integer,nullable=False)
    priceEach = Column(sa.Float(10,2),nullable=False)
    orderLineNumber = Column(SmallInteger,nullable=False)

---

9. Realiza una consulta a la base de datos `nabla_python` por medio de `sqlalchemy`: encuentra los tipos de `status` existentes dentro de la tabla `orders`.

In [12]:
    
# Se define la cadena para conexión a DB con SQLAlchemy
passw= "maquina271"
engstr = f"mysql+pymysql://nabla123:{passw}@db4free.net:3306/nabla_python"

# Se realiza la conexión a la base de datos iniciando una sesión
engine = create_engine(engstr)
Session = sessionmaker(bind=engine)
sess = Session()

# Se obtienen los datos solicitados  y se imprimen
print('\nLos tipos de estatus existentes en la tabla orders son:\n')
for instance in sess.query(Orders.status).distinct():
    print("- ",instance.status)

# Se sierra la sesión.
sess.close()

Los tipos de estatus existentes en la tabla orders son:

-  Shipped
-  Resolved
-  Cancelled
-  On Hold
-  Disputed
-  In Process